---
import { Image } from 'astro:assets';
import { urlForImage } from '../../../sanity/urlForImage';
import Btn from '../../Common/Buttons/Btn.astro';

import { getLatestArticle } from '../../../sanity/api';
const data = await getLatestArticle();
---

<section class="bg-grey-100">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 py-20 px-5 sm:px-10 lg:px-20 gap-10 lg:gap-20 items-center max-w-[800px] lg:max-w-[1400px] mx-auto"
  >
    <div>
      <!-- <Image
        src={urlForImage(data.featuredImage).width(650).format("webp").url()}
        alt={data.featuredImage.alt}
        aspectRatio="16/9"
      /> -->
      <img
        class="rounded-[30px] lg:rounded-[50px]"
        src={urlForImage(data.featuredImage).width(800).format('webp').url()}
        alt={data.featuredImage.alt}
      />
    </div>
    <div class="">
      <h2
        class="text-blue-700 font-heading text-3xl lg:text-4xl font-bold mb-5"
      >
        {data.title}
      </h2>
      <p class="text-grey-600 font-body">{data.excerpt}</p>
      <div class="mt-10 flex sm:items-center flex-col sm:flex-row gap-10">
        <a
          href={`/blog/${data.slug.current}`}
          class="bg-blue-400 hover:bg-blue-600 text-white text-lg sm:text-2xl font-body py-2 px-4 sm:py-3 sm:px-6 inline-block font-bold rounded-md hover:shadow-none shadow-lg whitespace-nowrap max-w-[min-content] transition-all"
        >
          Read Article
        </a>
        <a
          href="/blog"
          class="font-bold text-lg sm:text-2xl text-blue-400 hover:text-blue-600 underline transition-colors"
        >
          See All Articles
        </a>
      </div>
    </div>
  </div>
</section>
