---
import Layout from '../../layouts/Layout.astro';
import { getAllListings } from '../../sanity/api.js';
import FinalCta from 'components/Common/FinalCta.astro';
import { PortableText } from '@portabletext/react';
import Slider from 'components/Listings/Slider';
import moment from 'moment';
import ListingSideBar from 'components/Listings/ListingSideBar.astro';
import BtnLg from 'components/Common/Buttons/BtnLg.astro';

export async function getStaticPaths() {
  const listings = await getAllListings();

  const acitveListings = listings.filter((listing: any) => {
    if (!listing.hideListing) return listing;
  });
  return acitveListings.map((listing: { slug: { current: any } }) => ({
    params: { slug: listing?.slug?.current },
    props: { listing },
  }));
}

const allListings = await getAllListings();

const { listing } = Astro.props;
---

<Layout title={listing.name} description={'test'}>
  <div class="py-20 bg-grey-100 flex flex-col items-center mx-auto">
    <section
      class="flex flex-col xl:flex-row items-start px-5 sm:px-10 xl:gap-0 max-w-[1600px]"
    >
      <div class="flex flex-1 xl:px-10 xl:w-3/4">
        <div
          class="bg-white lg:shadow py-10 px-4 sm:px-8 sm:p-10 rounded-none lg:rounded-2xl"
        >
          <div class="flex flex-col items-start w-full">
            <div
              class="flex flex-col md:flex-row justify-between gap-4 xl:gap-10 w-full"
            >
              <div class="mb-2 md:mb-0">
                <h2 class="text-blue-700 font-bold text-3xl mb-1 break-all">
                  {listing.name}
                </h2>
                <p class="text-grey-600 text-xl xl:mb-5">
                  {listing.address}
                </p>
              </div>

              <p class="text-blue-600 text-lg mb-6">
                <span class="text-2xl md:text-3xl font-bold">
                  {' '}
                  ¥{listing.price}
                </span>{' '}
                <br />
                <span class="whitespace-nowrap">per month</span>
              </p>
            </div>

            <div class="flex flex-col w-full gap-2 mb-6">
              <p class="text-grey-600 text-xl">
                <strong class="text-blue-600">Available from:</strong>{' '}
                {moment(listing.availability).format('MMMM Do, YYYY')}
              </p>
              <p class="text-grey-600 text-xl">
                <strong class="text-blue-600">Size:</strong>{' '}
                {listing.size} m<sup>2</sup>
              </p>
            </div>
            <BtnLg href="/contact" text="Contact Us About This Listing" />

            <div class="w-full my-16 xl:my-10">
              <Slider images={listing.images} client:load />
            </div>
            <div class="">
              <p class="text-blue-600 font-bold text-xl">About the property</p>
              <div class="text-grey-600 text-lg mb-12">
                <PortableText value={listing.description} />
              </div>
              <BtnLg href="/contact" text="Contact Us About This Listing" />
            </div>
          </div>
        </div>
      </div>
      <ListingSideBar
        currentListing={listing}
        allListings={allListings}
        class="w-full xl:w-1/4"
      />
    </section>
  </div>
  <FinalCta />
</Layout>
